body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.history {
    width: 100px;
    height: 50px;
}

.current {
    width: 100px;
    height: 50px;
}

.calculator {
    display: flex;
    background-color: aqua;
    flex-direction: column;
    height: max-content;
    max-width: max-content;
    justify-content: center;
    align-items: center;
    padding: 16px;

}

.keypad {
    display: flex;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.display {
    display: flex;
    background: white;
    flex-direction: column;


}